@font-face {
  font-family: 'Muli-Regular';
  src: url("../fonts/Muli-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Muli-Bold';
  src: url("../fonts/Muli-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Muli-ExtraBold';
  src: url("../fonts/Muli-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Garamond-Premr-Pro';
  src: url("../fonts/GaramondPremrPro-SmbdSubh.otf") format("truetype"); }

body {
  font-family: "Muli-Regular";
  padding: 0;
  margin: 0;
  background: #003d47;
  font-weight: normal;
  color: #edd9c0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Garamond-Premr-Pro"; }

img {
  max-width: 100%; }

.white-color {
  color: #FFFFFF; }

.primary-color {
  color: #eec183; }

.text-color {
  color: #edd9c0; }

.text-color-secondary {
  color: #003d47; }

.ff-muli-regular {
  font-family: 'Muli-Regular'; }

.ff-muli-bold {
  font-family: 'Muli-Bold'; }

.ff-muli-extrabold {
  font-family: 'Muli-ExtraBold'; }

.ff-garamond-premr-pro {
  font-family: 'Garamond-Premr-Pro'; }

.s-premium {
  /*Nav style*/
  /*header style*/ }
  .s-premium .fixed-top {
    right: unset;
    bottom: 0;
    position: fixed !important; }
  .s-premium .navbar {
    padding: 60px 40px; }
    .s-premium .navbar .collapse {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      z-index: 1000;
      background-color: #003d47;
      background-image: url("../images/logo-nen.png");
      background-repeat: no-repeat;
      background-position: 50%;
      padding-top: 110px;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
    .s-premium .navbar .nav-link {
      position: relative;
      color: #eec183;
      font-family: "Garamond-Premr-Pro";
      font-size: 33px;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 20px; }
      .s-premium .navbar .nav-link:hover, .s-premium .navbar .nav-link.active {
        color: #FFFFFF; }
    .s-premium .navbar-nav li:not(:last-child) .nav-link {
      margin-bottom: 20px; }
      .s-premium .navbar-nav li:not(:last-child) .nav-link:after {
        content: "";
        position: absolute;
        background-image: url("../images/icon-line-menu.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px; }
    .s-premium .navbar__close {
      position: absolute;
      right: 100px;
      top: 70px; }
    .s-premium .navbar-toggler {
      border: none;
      outline: none; }
    .s-premium .navbar__sidebar {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1040;
      justify-content: space-between;
      height: 100%; }
  .s-premium .section {
    position: relative;
    background-color: #003d47;
    background-size: cover;
    background-position: center; }
  .s-premium-1 {
    background: url("../images/bg-1.png") 50% 0 no-repeat fixed; }
  .s-premium-2 {
    background: url("../images/bg-2.png") 50% 0 no-repeat fixed; }
  .s-premium .call-now-button {
    z-index: 9999;
    clear: both;
    margin: 0 auto;
    position: fixed;
    border-radius: 50px;
    background: #eec183;
    bottom: 5%;
    left: 3%; }
    .s-premium .call-now-button div {
      display: flex; }
    .s-premium .call-now-button .call-text {
      color: #fff;
      display: table;
      padding: 10px;
      border-radius: 21px;
      height: 34px;
      line-height: 14px;
      font-size: 14px;
      margin: 8px 5px 8px 50px;
      text-transform: uppercase;
      font-weight: normal;
      text-align: center;
      text-decoration: none !important; }
    .s-premium .call-now-button a {
      color: #334862;
      text-decoration: none; }
    .s-premium .call-now-button .quick-alo-ph-circle.active {
      width: 130px;
      height: 130px;
      top: -40px;
      left: -40px;
      position: absolute;
      background-color: transparent;
      border-radius: 100%;
      border: 2px solid rgba(30, 30, 30, 0.4);
      opacity: 1;
      animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
      transition: all .5s;
      transform-origin: 50% 50%; }
    .s-premium .call-now-button .quick-alo-ph-circle-fill.active {
      width: 80px;
      height: 80px;
      top: -15px;
      left: -15px;
      position: absolute;
      background-color: #000;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      opacity: 1;
      animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
      transition: all .5s;
      transform-origin: 50% 50%; }
    .s-premium .call-now-button .quick-alo-phone-img-circle.shake {
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      position: absolute;
      border-radius: 100%;
      border: 2px solid transparent;
      opacity: 1;
      background: url(../images/button-phone.png) no-repeat center center;
      animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
      transform-origin: 50% 50%;
      background-color: #0c3; }
  .s-premium .scroll-to-top {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 20px;
    color: #fff;
    color: yellow;
    display: none;
    cursor: pointer;
    transition: transform .2s ease-in-out; }
    .s-premium .scroll-to-top:hover {
      transform: scale(1.2); }
    .s-premium .scroll-to-top svg {
      font-size: 34px;
      color: #fff;
      background: #007bff;
      border-radius: 100%; }
    .s-premium .scroll-to-top.is-visible {
      display: block; }

@keyframes quick-alo-circle-img-anim {
  10% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }

@keyframes quick-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: .6; } }

@keyframes quick-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2; } }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1344px) {
  .container {
    max-width: 1344px; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (orientation: landscape) and (max-width: 768px) {
  .landing-page .navbar-brand img {
    max-width: 150px !important; } }
