@font-face {
  font-family: 'Muli-Regular';
  src: url("../fonts/Muli-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Muli-Bold';
  src: url("../fonts/Muli-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Muli-ExtraBold';
  src: url("../fonts/Muli-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Garamond-Premr-Pro';
  src: url("../fonts/GaramondPremrPro-SmbdSubh.otf") format("truetype"); }

body {
  font-family: "Muli-Regular";
  padding: 0;
  margin: 0;
  background: #003d47;
  font-weight: normal;
  color: #edd9c0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Garamond-Premr-Pro"; }

img {
  max-width: 100%; }

.white-color {
  color: #FFFFFF; }

.primary-color {
  color: #eec183; }

.text-color {
  color: #edd9c0; }

.text-color-secondary {
  color: #003d47; }

.ff-muli-regular {
  font-family: 'Muli-Regular'; }

.ff-muli-bold {
  font-family: 'Muli-Bold'; }

.ff-muli-extrabold {
  font-family: 'Muli-ExtraBold'; }

.ff-garamond-premr-pro, .s-premium-2__content h4, .s-premium-2__info h3, .s-premium-3__content h4, .s-premium-4__content h4, .s-premium-5__content h4, .s-premium-6__header h4, .s-premium-7__content h4, .s-premium-7__info-item h5, .s-premium-8__content h4, .s-premium-8 .nav-link, .s-premium-contact__info h4 {
  font-family: 'Garamond-Premr-Pro'; }

.color-1 {
  color: #b9dcab !important; }

.color-2 {
  color: #e6c1d3 !important; }

.color-3 {
  color: #b2dfd9 !important; }

.color-4 {
  color: #ace0f1 !important; }

.color-5 {
  color: #e2d5ca !important; }

.color-6 {
  color: #e9e8c5 !important; }

.s-premium {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  z-index: 1;
  /*Nav style*/
  /*header style*/ }
  .s-premium .content-main {
    max-width: 1344px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  .s-premium .fixed-top {
    right: unset;
    bottom: 0;
    position: fixed !important; }
  .s-premium .navbar {
    padding: 60px 0 60px 50px; }
    .s-premium .navbar .collapse {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      z-index: 1000;
      background-color: #003d47;
      background-image: url("../images/logo-nen.png");
      background-repeat: no-repeat;
      background-position: 50%;
      padding-top: 110px;
      justify-content: center;
      align-items: flex-start; }
      .s-premium .navbar .collapse.show {
        display: flex; }
    .s-premium .navbar .nav-link {
      position: relative;
      color: #eec183;
      font-family: "Garamond-Premr-Pro";
      font-size: 33px;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 20px; }
      .s-premium .navbar .nav-link:hover, .s-premium .navbar .nav-link.active {
        color: #FFFFFF; }
    .s-premium .navbar-nav li:not(:last-child) .nav-link {
      margin-bottom: 20px; }
      .s-premium .navbar-nav li:not(:last-child) .nav-link:after {
        content: "";
        position: absolute;
        background-image: url("../images/icon-line-menu.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px; }
    .s-premium .navbar__close {
      position: absolute;
      right: 100px;
      top: 70px;
      background: transparent;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      .s-premium .navbar__close svg {
        color: #FFFFFF;
        font-size: 34px; }
      .s-premium .navbar__close span {
        font-size: 12px;
        font-weight: 400;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-left: 3px; }
    .s-premium .navbar-toggler {
      border: none;
      outline: none;
      display: flex;
      flex-direction: column; }
      .s-premium .navbar-toggler img {
        width: 35px; }
      .s-premium .navbar-toggler span {
        font-size: 12px;
        font-weight: 400;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-top: 10px; }
    .s-premium .navbar__sidebar {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1040;
      justify-content: space-between;
      height: 100%;
      align-items: center; }
    .s-premium .navbar__box {
      list-style: none;
      padding: 0; }
      .s-premium .navbar__box a {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        padding: 10px 7px 18px; }
        .s-premium .navbar__box a.active, .s-premium .navbar__box a:hover {
          color: #eec183;
          font-size: 15px;
          font-weight: 700;
          text-decoration: none; }
      .s-premium .navbar__box li:not(:last-child) {
        margin-bottom: 30px; }
        .s-premium .navbar__box li:not(:last-child) a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: #f5f5f5;
          transform: rotate(15deg); }
  .s-premium .section {
    position: relative;
    background-color: #003d47;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: calc(110px + 20px);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
    transition: transform .8s ease-in-out; }
  .s-premium .header {
    width: 100%;
    top: 60px;
    left: 0;
    height: auto;
    z-index: 50;
    position: fixed;
    padding-left: calc(110px + 20px); }
    .s-premium .header .content-main {
      display: flex;
      justify-content: space-between; }
    .s-premium .header__logo img {
      width: 200px; }
    .s-premium .header__hotline {
      display: flex;
      align-items: center;
      color: #FFFFFF;
      text-decoration: none; }
      .s-premium .header__hotline-1 {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: linear-gradient(135deg, #eec183, #edd9c0);
        background-size: 300% 300%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 1px #003d47 inset;
        border: 1px solid #eec183;
        margin-right: 20px;
        animation: BorderBox 3s infinite; }
        .s-premium .header__hotline-1 svg {
          font-size: 21px;
          color: #003d47; }
      .s-premium .header__hotline p {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0px; }
      .s-premium .header__hotline span {
        font-family: "Muli-Bold";
        font-size: 15px;
        font-weight: 400; }
  .s-premium .link-arrow {
    display: flex;
    transition: all .3s ease-in-out; }
    .s-premium .link-arrow a {
      color: #FFFFFF;
      position: relative;
      padding: 15px 30px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase; }
      .s-premium .link-arrow a:before {
        content: "";
        position: absolute;
        background-color: #FFFFFF;
        height: 1px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0; }
      .s-premium .link-arrow a:after {
        content: "";
        position: absolute;
        background-color: #FFFFFF;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0; }
    .s-premium .link-arrow svg {
      font-size: 22px;
      margin-left: 10px; }
    .s-premium .link-arrow:hover {
      margin-left: 30px; }
  .s-premium .section-title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .s-premium .section-title span {
      width: 35px;
      height: 1px;
      background-color: #FFFFFF;
      margin: 0 15px; }
  .s-premium-1 {
    background: url("../images/bg-1.png");
    display: flex;
    align-items: center; }
    .s-premium-1 h2 {
      margin-top: 45px;
      margin-bottom: 35px;
      text-transform: uppercase;
      font-size: 48px; }
    .s-premium-1 h4 {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-size: 42px;
      color: #eec183; }
    .s-premium-1__content {
      margin-bottom: 10%; }
    .s-premium-1 .link-arrow {
      justify-content: center; }
  .s-premium-2 {
    background: url("../images/bg-2.png");
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 30px; }
    .s-premium-2 .fp-tableCell {
      padding-bottom: 30px;
      vertical-align: bottom; }
    .s-premium-2 .container-fluid .row {
      margin-left: 0; }
    .s-premium-2__content {
      flex: 1;
      padding-right: 70px;
      padding-left: calc((100vw - 1344px - calc(110px + 20px))/2);
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .s-premium-2__content h4 {
        position: relative;
        margin-bottom: 32px;
        text-transform: uppercase;
        font-size: 33px;
        font-weight: 400;
        color: #eec183; }
      .s-premium-2__content P {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px; }
    .s-premium-2__img {
      flex: 2;
      padding-right: 0; }
      .s-premium-2__img img {
        width: 100%; }
    .s-premium-2__info {
      margin-top: 40px; }
      .s-premium-2__info-item {
        padding: 20px 8px;
        position: relative;
        flex: 0 0 33.333333%; }
        .s-premium-2__info-item:after {
          content: "";
          position: absolute;
          background-image: url("../images/icon-line-menu.svg");
          background-repeat: no-repeat;
          background-size: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px; }
      .s-premium-2__info-list {
        display: flex;
        justify-content: center; }
      .s-premium-2__info-list:first-child .s-premium-2__info-item:before {
        content: "";
        position: absolute;
        background-image: url("../images/icon-line-menu.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 2px; }
      .s-premium-2__info h3 {
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
        color: #eec183;
        text-align: center; }
      .s-premium-2__info p {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0; }
  .s-premium-3 {
    background: url("../images/bg-3.png");
    display: flex;
    align-items: flex-end; }
    .s-premium-3 .fp-tableCell {
      vertical-align: bottom; }
    .s-premium-3 .container-fluid .row {
      margin-left: 0; }
    .s-premium-3__content {
      flex: 1.2;
      padding-left: calc((100vw - 1344px - calc(110px + 20px))/2);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 50px; }
      .s-premium-3__content-header {
        padding-right: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .s-premium-3__content h4 {
        position: relative;
        margin-bottom: 26px;
        text-transform: uppercase;
        font-size: 33px;
        font-weight: 400;
        color: #eec183; }
      .s-premium-3__content P {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px; }
    .s-premium-3__img {
      flex: 2;
      padding-right: 0;
      padding-left: 5%; }
      .s-premium-3__img img {
        width: 100%; }
  .s-premium-4 {
    background: url("../images/bg-3.png");
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px; }
    .s-premium-4 .fp-tableCell {
      padding-bottom: 30px;
      vertical-align: bottom; }
    .s-premium-4__content h4 {
      position: relative;
      margin-bottom: 28px;
      text-transform: uppercase;
      font-size: 33px;
      font-weight: 400;
      color: #eec183; }
    .s-premium-4__content P {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 40px; }
    .s-premium-4__info-1 {
      flex: 0 0 54%;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .s-premium-4__info-1 .row > div {
        padding: 0 10px; }
    .s-premium-4__info-2 {
      flex: 0 0 46%; }
    .s-premium-4__info img {
      width: 100%; }
  .s-premium-5 {
    background: url("../images/bg-3.png");
    display: flex;
    align-items: flex-end; }
    .s-premium-5 .fp-tableCell {
      vertical-align: bottom; }
    .s-premium-5 .container-fluid .row {
      margin-left: 0; }
    .s-premium-5__content {
      padding-right: 70px;
      margin-bottom: 20px; }
      .s-premium-5__content-header {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .s-premium-5__content h4 {
        position: relative;
        margin-bottom: 24px;
        text-transform: uppercase;
        font-size: 33px;
        font-weight: 400;
        color: #eec183; }
      .s-premium-5__content P {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px; }
    .s-premium-5__slide {
      margin-top: 50px; }
    .s-premium-5__item {
      border: 1px solid #edd9c0;
      padding: 10px; }
      .s-premium-5__item img {
        width: 100%; }
    .s-premium-5__img img {
      height: 100%; }
    .s-premium-5 .owl-nav > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background: linear-gradient(to top, #eec183 0%, #edd9c0 100%) !important;
      cursor: pointer;
      outline: none;
      transition: transform .2s ease-in-out; }
      .s-premium-5 .owl-nav > button:hover {
        transform: scale(1.2);
        transition: transform .2s ease-in-out; }
      .s-premium-5 .owl-nav > button svg {
        color: #003d47;
        font-size: 25px; }
    .s-premium-5 .owl-nav .owl-prev {
      display: none;
      position: absolute;
      left: -25px;
      top: 0;
      bottom: 0;
      margin: auto; }
    .s-premium-5 .owl-nav .owl-next {
      position: absolute;
      right: -25px;
      top: 0;
      bottom: 0;
      margin: auto; }
  .s-premium-6 {
    background: url("../images/bg-3.png");
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px; }
    .s-premium-6 .fp-tableCell {
      padding-bottom: 50px;
      vertical-align: bottom; }
    .s-premium-6__header h4 {
      position: relative;
      margin-bottom: 45px;
      text-transform: uppercase;
      font-size: 33px;
      font-weight: 400;
      color: #eec183; }
    .s-premium-6__slides {
      position: relative; }
    .s-premium-6__list {
      position: relative; }
    .s-premium-6__item {
      max-width: 100%;
      position: relative;
      padding-bottom: 24px; }
      .s-premium-6__item-title {
        position: absolute;
        bottom: 14px;
        left: 0;
        right: 0;
        text-align: center; }
        .s-premium-6__item-title span {
          border: 1px solid #edd9c0;
          padding: 15px 2px; }
          .s-premium-6__item-title span span {
            padding: 12px 26px;
            font-size: 16px;
            font-weight: 700;
            color: #003d47;
            background-color: #edd9c0; }
    .s-premium-6__opacity1 {
      position: absolute;
      right: -12px;
      top: 0px;
      bottom: 7%;
      width: 80px;
      background: linear-gradient(to left, #003d471a 0%, #14383d 16%, #003d476e 60%, #003d471f 80%, #ffffff00 100%);
      z-index: 100; }
    .s-premium-6__opacity2 {
      position: absolute;
      left: -12px;
      top: 0px;
      bottom: 7%;
      width: 80px;
      background: linear-gradient(to right, #003d471a 0%, #14383d 16%, #003d476e 60%, #003d471f 80%, #ffffff00 100%);
      z-index: 100; }
    .owl-item:not(.active) .s-premium-6__item-title {
      display: none; }
    .s-premium-6 .owl-nav > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background: linear-gradient(to top, #eec183 0%, #edd9c0 100%) !important;
      cursor: pointer;
      outline: none;
      transition: transform .2s ease-in-out; }
      .s-premium-6 .owl-nav > button:hover {
        transform: scale(1.2);
        transition: transform .2s ease-in-out; }
      .s-premium-6 .owl-nav > button svg {
        color: #003d47;
        font-size: 25px; }
    .s-premium-6 .owl-nav .owl-prev {
      position: absolute;
      left: 160px;
      top: 0;
      bottom: 10%;
      margin: auto; }
    .s-premium-6 .owl-nav .owl-next {
      position: absolute;
      right: 160px;
      top: 0;
      bottom: 10%;
      margin: auto; }
    .s-premium-6 .owl-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px; }
      .s-premium-6 .owl-dots .owl-dot {
        height: 11px;
        width: 11px;
        border: 1px solid #eec183;
        border-radius: 100%;
        outline: none; }
        .s-premium-6 .owl-dots .owl-dot:not(last-child) {
          margin-right: 25px; }
        .s-premium-6 .owl-dots .owl-dot.active, .s-premium-6 .owl-dots .owl-dot:hover {
          background-color: #eec183;
          box-shadow: 0px 0px 0px 2px #003d47 inset;
          height: 15px;
          width: 15px; }
  .s-premium-7 {
    background: url("../images/bg-3.png");
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px; }
    .s-premium-7 .fp-tableCell {
      vertical-align: bottom;
      padding-bottom: 30px; }
    .s-premium-7__content-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 70px; }
    .s-premium-7__content h4 {
      position: relative;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 33px;
      font-weight: 400;
      color: #eec183; }
    .s-premium-7__content P {
      font-size: 21px;
      font-weight: 400;
      margin-bottom: 28px; }
    .s-premium-7__info {
      margin-top: 50px; }
      .s-premium-7__info .row > div:nth-child(2n) {
        padding-left: 0; }
      .s-premium-7__info .row > div:nth-child(1n) {
        padding-right: 8px; }
      .s-premium-7__info .row > div:nth-child(2) h5 {
        background-color: #e6c1d3; }
      .s-premium-7__info .row > div:nth-child(3) h5 {
        background-color: #b2dfd9; }
      .s-premium-7__info .row > div:nth-child(4) h5 {
        background-color: #ace0f1; }
      .s-premium-7__info .row > div:nth-child(5) h5 {
        background-color: #e2d5ca; }
      .s-premium-7__info .row > div:nth-child(5) h5 {
        background-color: #e9e8c5; }
      .s-premium-7__info-item {
        border: 1px solid #edd9c0;
        padding: 3px;
        margin-bottom: 10px; }
        .s-premium-7__info-item h5 {
          color: #003d47;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          background-color: #b9dcab;
          padding: 8px 0;
          text-align: center;
          margin-bottom: 10px; }
        .s-premium-7__info-item div {
          padding: 0 10px 10px; }
          .s-premium-7__info-item div p {
            color: #FFFFFF;
            font-weight: 400;
            margin-bottom: 0;
            font-size: 14px; }
    .s-premium-7__img {
      padding-left: 30px; }
      .s-premium-7__img img {
        width: 100%; }
  .s-premium-8 {
    background: url("../images/bg-3.png");
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px; }
    .s-premium-8 .fp-tableCell {
      vertical-align: bottom;
      padding-bottom: 30px; }
    .s-premium-8__content {
      margin-top: -180px; }
      .s-premium-8__content-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 70px; }
      .s-premium-8__content h4 {
        position: relative;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 33px;
        font-weight: 400;
        color: #eec183; }
      .s-premium-8__content P {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px; }
    .s-premium-8__img {
      padding: 0 8%;
      margin-top: 40px; }
      .s-premium-8__img img {
        width: 100%; }
    .s-premium-8__info {
      margin-top: 40px; }
    .s-premium-8 .nav {
      justify-content: space-between; }
      .s-premium-8 .nav-link {
        border: 1px solid #b9dcab;
        font-size: 21px;
        font-weight: 400;
        color: #b9dcab;
        border-radius: 0;
        padding: 3px;
        flex: 0 0 30%;
        text-align: center;
        background-color: transparent  !important;
        margin-bottom: 12px; }
        .s-premium-8 .nav-link span {
          display: block;
          padding: 14px 10px;
          text-transform: uppercase; }
        .s-premium-8 .nav-link.active {
          color: #003d47; }
          .s-premium-8 .nav-link.active span {
            background-color: #b9dcab; }
        .s-premium-8 .nav-link:nth-child(2) {
          border: 1px solid #e6c1d3;
          color: #e6c1d3; }
          .s-premium-8 .nav-link:nth-child(2).active {
            color: #003d47; }
            .s-premium-8 .nav-link:nth-child(2).active span {
              background-color: #e6c1d3; }
        .s-premium-8 .nav-link:nth-child(3) {
          border: 1px solid #b2dfd9;
          color: #b2dfd9; }
          .s-premium-8 .nav-link:nth-child(3).active {
            color: #003d47; }
            .s-premium-8 .nav-link:nth-child(3).active span {
              background-color: #b2dfd9; }
        .s-premium-8 .nav-link:nth-child(4) {
          border: 1px solid #ace0f1;
          color: #ace0f1; }
          .s-premium-8 .nav-link:nth-child(4).active {
            color: #003d47; }
            .s-premium-8 .nav-link:nth-child(4).active span {
              background-color: #ace0f1; }
        .s-premium-8 .nav-link:nth-child(5) {
          border: 1px solid #e2d5ca;
          color: #e2d5ca; }
          .s-premium-8 .nav-link:nth-child(5).active {
            color: #003d47; }
            .s-premium-8 .nav-link:nth-child(5).active span {
              background-color: #e2d5ca; }
        .s-premium-8 .nav-link:nth-child(6) {
          border: 1px solid #e9e8c5;
          color: #e9e8c5; }
          .s-premium-8 .nav-link:nth-child(6).active {
            color: #003d47; }
            .s-premium-8 .nav-link:nth-child(6).active span {
              background-color: #e9e8c5; }
  .s-premium-contact {
    background: url("../images/bg-contact.png") 50% 0 no-repeat fixed;
    color: #003d47; }
    .s-premium-contact .content-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      justify-content: space-around; }
    .s-premium-contact__logo {
      margin-bottom: 70px; }
      .s-premium-contact__logo img {
        width: 240px; }
    .s-premium-contact__info {
      margin-bottom: 50px; }
      .s-premium-contact__info h4 {
        font-size: 33px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 24px; }
      .s-premium-contact__info p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px; }
    .s-premium-contact__form {
      max-width: 680px;
      width: 680px; }
      .s-premium-contact__form .row > div {
        display: flex;
        align-items: center;
        border-top: 1px solid #003d47;
        border-bottom: 1px solid #003d47;
        padding: 8px 0;
        margin-bottom: 20px;
        flex: 1; }
        .s-premium-contact__form .row > div:nth-child(2n) {
          margin-left: 30px; }
      .s-premium-contact__form .row label {
        white-space: nowrap;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: -5px; }
      .s-premium-contact__form .row input {
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none; }
      .s-premium-contact__form button {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        margin-top: 30px;
        color: #003d47;
        transition: all .3s ease-in-out; }
        .s-premium-contact__form button:hover, .s-premium-contact__form button:focus {
          background-color: transparent;
          border: none;
          outline: none;
          box-shadow: none; }
        .s-premium-contact__form button:hover {
          background-image: linear-gradient(45deg, #eec183 0, #003d47 100%);
          box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
          margin-left: 15px;
          color: #fff;
          padding: 10px 15px; }
        .s-premium-contact__form button svg {
          margin-left: 10px;
          font-size: 20px; }
    .s-premium-contact__footer {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 400; }
  .s-premium .call-now-button {
    z-index: 9999;
    clear: both;
    margin: 0 auto;
    position: fixed;
    border-radius: 50px;
    background: #eec183;
    bottom: 5%;
    left: 3%; }
    .s-premium .call-now-button div {
      display: flex; }
    .s-premium .call-now-button .call-text {
      color: #fff;
      display: table;
      padding: 10px;
      border-radius: 21px;
      height: 34px;
      line-height: 14px;
      font-size: 14px;
      margin: 8px 5px 8px 50px;
      text-transform: uppercase;
      font-weight: normal;
      text-align: center;
      text-decoration: none !important; }
    .s-premium .call-now-button a {
      color: #334862;
      text-decoration: none; }
    .s-premium .call-now-button .quick-alo-ph-circle.active {
      width: 130px;
      height: 130px;
      top: -40px;
      left: -40px;
      position: absolute;
      background-color: transparent;
      border-radius: 100%;
      border: 2px solid rgba(30, 30, 30, 0.4);
      opacity: 1;
      animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
      transition: all .5s;
      transform-origin: 50% 50%; }
    .s-premium .call-now-button .quick-alo-ph-circle-fill.active {
      width: 80px;
      height: 80px;
      top: -15px;
      left: -15px;
      position: absolute;
      background-color: #000;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      opacity: 1;
      animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
      transition: all .5s;
      transform-origin: 50% 50%; }
    .s-premium .call-now-button .quick-alo-phone-img-circle.shake {
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      position: absolute;
      border-radius: 100%;
      border: 2px solid transparent;
      opacity: 1;
      background: url(../images/button-phone.png) no-repeat center center;
      animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
      transform-origin: 50% 50%;
      background-color: #0c3; }
  .s-premium .scroll-to-top {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 20px;
    color: #fff;
    color: yellow;
    display: none;
    cursor: pointer;
    transition: transform .2s ease-in-out; }
    .s-premium .scroll-to-top:hover {
      transform: scale(1.2); }
    .s-premium .scroll-to-top svg {
      font-size: 34px;
      color: #fff;
      background: #007bff;
      border-radius: 100%; }
    .s-premium .scroll-to-top.is-visible {
      display: block; }

@keyframes quick-alo-circle-img-anim {
  10% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }

@keyframes quick-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: .6; } }

@keyframes quick-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2; } }

@keyframes BorderBox {
  0%,
  100% {
    background-position: 0 0; }
  50% {
    background-position: 100% 100%; } }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .s-premium-2__info-item {
    margin: 0 32px;
    flex: 0 0 28%; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  .s-premium-2__content {
    flex: 1.2; }
  .s-premium-2__img {
    padding-left: 3%; }
  .s-premium-3__content {
    flex: 1.4; }
  .s-premium-3__img {
    padding-left: 5%; } }

@media screen and (orientation: landscape) and (max-width: 768px) {
  .landing-page .navbar-brand img {
    max-width: 150px !important; } }
