body{
	font-family: "Muli-Regular";
	padding: 0;
	margin: 0;
	background: $background-color;
	font-weight: normal;
	color: $text-color;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Garamond-Premr-Pro";
}
img{
	max-width: 100%;
}