.s-premium{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    z-index: 1;
    /*Nav style*/
    .content-main{
        max-width: $width-main-xxl;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .fixed-top{
        right: unset;
        bottom: 0;
        position: fixed !important;
    }
    .navbar{
        padding: 20px 0 20px $pl-menu-xl;
        &-collapse{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            z-index: 1000;
            background-color: $background-color;
            background-image: url('../images/logo-nen.png');
            background-repeat: no-repeat;
            background-position: 50%;
            padding-top: 110px;
            justify-content: center;
            align-items: flex-start;
            &.show, &.collapsing{
                display: flex;
            }
        }
        .nav{
            &-link {
                position: relative;
                color: $primary-color;
                font-family: "Garamond-Premr-Pro";
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
                padding-bottom: 20px;
                cursor: pointer;
                user-select: none;
                &:hover, &.active{
                    color: $white-color;
                }
            }
        }
        &-nav{
            li:not(:last-child) {
                .nav-link {
                    margin-bottom: 15px;
                    &:after{
                        content: "";
                        position: absolute;
                        background-image: url('../images/icon-line-menu.svg');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                    }
                }
            }
        }
        &__close{
            position: absolute;
            right: 100px;
            top: 70px;
            background: transparent;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                color: $white-color;
                font-size: 34px;
            }
            span{
                font-size: 12px;
                font-weight: 400;
                color: $white-color;
                text-transform: uppercase;
                margin-left: 3px;
            }
        }
        &-toggler{
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            img{
                width: 35px;
            }
            span{
                font-size: 12px;
                font-weight: 400;
                color: $white-color;
                text-transform: uppercase;
                margin-top: 10px;
            }
            &__img-2{
                display: none;
            }
        }
        &__sidebar{
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1040;
            justify-content: space-between;
            height: 100%;
            align-items: center;
        }
        &__box{
            list-style: none;
            padding: 0;
            a{
                position: relative;
                font-size: 14px;
                font-weight: 400;
                color: $white-color;
                padding: 10px 7px 18px;
                cursor: pointer;
                user-select: none;
                &.active, &:hover{
                    color: $primary-color;
                    font-size: 15px;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
            li{
                &:not(:last-child){
                    margin-bottom: 30px;
                    a:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #f5f5f5;
                        transform: rotate(15deg);
                    }
                }
            }
        }
        &__icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a{
                transition: transform .3s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
            }
            &-2{
                display: none;
            }
        }
        &__hotline{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: linear-gradient(135deg,#edc97d,#fff,#edc97d);
            background-size: 300% 300%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 0 2px $text-color-secondary inset;
            border: 1px solid $primary-color;
            animation: BorderBox 3s infinite;
            display: none;
            svg{
                font-size: 18px;
                color: $text-color-secondary;
            }
        }
        &__logo{
            display: none;
            width: 200px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 0px;
            box-shadow: 0 20px 30px rgba(0,0,0,.1);
            background: #003d47;
            padding: 15px;
        }
    }
    .section{
        position: relative;
        background-color: $background-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-left: $nav-bar-xl-width;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        overflow: hidden;
    }
    
    /*header style*/
    .header{
        width: 100%;
        top: $top-header-xl;
        left: 0;
        height: auto;
        z-index: 50;
        position: fixed;
        padding-left: $nav-bar-xl-width;
        .content-main{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__logo{
            img{
                width: 200px;
            }
        }
        &__hotline{
            display: flex;
            align-items: center;
            color: $white-color;
            text-decoration: none;
            &-1{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: linear-gradient(135deg,#edc97d,#fff,#edc97d);
                background-size: 300% 300%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 0 2px $text-color-secondary inset;
                border: 1px solid $primary-color;
                margin-right: 20px;
                animation: BorderBox 3s infinite;
                svg{
                    font-size: 21px;
                    color: $text-color-secondary;
                }
            }
            p{
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 0px;
            }
            span{
                font-family: "Muli-Bold";
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

    .link-arrow{
        display: flex;
        transition: all .3s ease-in-out;
        a{
            color: $white-color;
            position: relative;
            padding: 15px 30px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
            &:before{
                content: "";
                position: absolute;
                background-color: $white-color;
                height: 1px;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
            }
            &:after{
                content: "";
                position: absolute;
                background-color: $white-color;
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        svg{
            font-size: 22px;
            margin-left: 10px;
        }
        &:hover{
            margin-left: 30px;
        }
    }
    .section-title{
        color: $white-color;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        span{
            width: 35px;
            height: 1px;
            background-color: $white-color;
            margin: 0 15px;
        }
    }

    &-1{
        background: url('../images/bg-1.jpg');
        display: flex;
        align-items: center;
        h2{
            margin-top: 45px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 48px;
        }
        h4{
            margin-bottom: 45px;
            text-transform: uppercase;
            font-size: 42px;
            color: $primary-color;
        }
        &__content{
            margin-bottom: 15%;
        }
        .link-arrow{
            justify-content: center;
        }
        &__img{
            display: none;
        }
    }

    &-2{
        background: url('../images/bg-2.png');
        .container-fluid{
            .row{
                margin-left: 0;
            }
        }
        &__content{
            flex: 1;
            padding-right: 70px;
            padding-left: $pl-main-xl;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                position: relative;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 400;
                color: $primary-color;
                @extend .ff-garamond-premr-pro;
            }
            P{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 25px;
            }
        }
        &__img{
            position: relative;
            flex: 2;
            padding-right: 0;
            > img{
                width: 100%;
            }
        }
        &__zoom{
            width: 65px;
            height: 65px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #003d47;
            bottom: 2px;
            margin-left: 2px;
            cursor: pointer;
            opacity: 0.75;
            img{
                width: 28px;
                transition: transform .2s ease-in-out;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
        }
        &__info{
            margin-top: 30px;
            &-item{
                padding: 15px 8px;
                // margin: 0 32px;
                position: relative;
                flex: 0 0 33.333333%;
                &:after{
                    content: "";
                    position: absolute;
                    background-image: url('../images/icon-line-menu.svg');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                }
            }
            &-list{
                display: flex;
                justify-content: center;
                padding: 0 10%;
            }
            &-list:first-child &-item{
                &:before{
                    content: "";
                    position: absolute;
                    background-image: url('../images/icon-line-menu.svg');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                }
            }
            h3{
                @extend .ff-garamond-premr-pro;
                font-size: 21px;
                font-weight: 400;
                text-transform: uppercase;
                color: $primary-color;
                text-align: center;
                margin-bottom: 5px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }

    &-3{
        background: url('../images/bg-3.png');
        .container-fluid{
            .row{
                margin-left: 0;
            }
        }
        &__content{
            flex: 1.2;
            padding-left: $pl-main-xl;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            &-header{
                padding-right: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            h4{
                position: relative;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 400;
                color: $primary-color;
                @extend .ff-garamond-premr-pro;
            }
            P{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 25px;
            }
        }
        &__img{
            flex: 2;
            padding-right: 0;
            padding-left: 5%;
            img{
                width: 100%;
            }
        }
    }

    &-4{
        background: url('../images/bg-3.png');
        &__content{
            h4{
                position: relative;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 400;
                color: $primary-color;
                @extend .ff-garamond-premr-pro;
            }
            P{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 25px;
            }
        }
        &__info{
            
            &-1{
                flex: 0 0 54%;
                padding-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .row{
                    >div{
                        padding: 0 10px;
                    }
                }
            }
            &-2{
                flex: 0 0 46%;
            }
            img{
                width: 100%;
            }
        }
    }

    &-5{
        background: url('../images/bg-3.png');
        .container-fluid{
            .row{
                margin-left: 0;
            }
        }
        &__content{
            padding-right: 70px;
            margin-bottom: 20px;
            &-header{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            h4{
                position: relative;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 400;
                color: $primary-color;
                @extend .ff-garamond-premr-pro;
            }
            P{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 25px;
            }
        }
        &__slide{
            margin-top:20px;
        }
        &__item{
            border: 1px solid #edd9c0;
            padding: 10px;
            margin: 2px;
            img{
                width: 100%;
            }
        }
        &__img{
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .owl-nav{
            >button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                background: linear-gradient(to top, #eec183 0%, #edd9c0 100%) !important;
                cursor: pointer;
                outline: none;
                transition: transform .2s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $text-color-secondary;
                    font-size: 25px;
                }
            }
            .owl-prev{
                display: none;
                position: absolute;
                left: -25px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: -25px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    &-6{
        background: url('../images/bg-3.png');
        &__header{
            h4{
                position: relative;
                margin-bottom: 30px;
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 400;
                color: $primary-color;
                @extend .ff-garamond-premr-pro;
            }
        }
        &__slides{
            position: relative;
        }
        &__list{
            position: relative;
        }
        &__item{
            max-width: 100%;
            position: relative;
            padding-bottom: 24px;
            &-title{
                position: absolute;
                bottom: 14px;
                left: 0;
                right: 0;
                text-align: center;
                span{
                    border: 1px solid $text-color;
                    padding: 15px 2px;
                    span{
                        padding: 12px 26px;
                        font-size: 16px;
                        font-weight: 700;
                        color: $text-color-secondary;
                        background-color: $text-color;
                    }
                }
            }
        }
        &__opacity1{
            position: absolute;
            right: -12px;
            top: 0px;
            bottom: 7%;
            width: 80px;
            background: linear-gradient(to left, #003d471a 0%, #14383d 16%, #003d476e 60%, #003d471f 80%, #ffffff00 100%);
            z-index: 2;
        }
        &__opacity2{
            position: absolute;
            left: -12px;
            top: 0px;
            bottom: 7%;
            width: 80px;
            background: linear-gradient(to right, #003d471a 0%, #14383d 16%, #003d476e 60%, #003d471f 80%, #ffffff00 100%);
            z-index: 2;
        }
        .owl-item:not(.active) &__item-title{
            display: none;
        }
        .owl-nav{
            >button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                background: linear-gradient(to top, #eec183 0%, #edd9c0 100%) !important;
                cursor: pointer;
                outline: none;
                transition: transform .2s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    transition: transform .2s ease-in-out;
                }
                svg{
                    color: $text-color-secondary;
                    font-size: 25px;
                }
            }
            .owl-prev{
                position: absolute;
                left: 160px;
                top: 0;
                bottom: 10%;
                margin: auto;
            }
            .owl-next{
                position: absolute;
                right: 160px;
                top: 0;
                bottom: 10%;
                margin: auto;
            }
        }
        .owl-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            .owl-dot{
                height: 11px;
                width: 11px;
                border: 1px solid $primary-color;
                border-radius: 100%;
                outline: none;
                &:not(last-child){
                    margin-right:25px;
                }
                &.active, &:hover{
                    background-color: $primary-color;
                    box-shadow: 0px 0px 0px 2px $background-color inset;
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }

    &-7{
        background: url('../images/bg-3.png');
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            &-header{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 70px;
            }
            h4{
                position: relative;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 400;
                color: $primary-color;
                @extend .ff-garamond-premr-pro;
            }
            p{
                font-size: 21px;
                font-weight: 400;
                margin-bottom: 25px;
            }
        }
        &__info{
            margin-top: 30px;
            .row{
                >div{
                    &:nth-child(2n){
                        padding-left: 0;
                    }
                    &:nth-child(1n){
                        padding-right: 15px;
                    }
                    &:nth-child(2){
                        h5{
                            background-color: $color-2;
                        }
                    }
                    &:nth-child(3){
                        h5{
                            background-color: $color-3;
                        }
                    }
                    &:nth-child(4){
                        h5{
                            background-color: $color-4;
                        }
                    }
                    &:nth-child(5){
                        h5{
                            background-color: $color-5;
                        }
                    }
                    &:nth-child(5){
                        h5{
                            background-color: $color-6;
                        }
                    }
                }
            }
            &-item{
                border: 1px solid #edd9c0;
                padding: 3px;
                margin-bottom: 10px;
                height: calc(100% - 10px);
                h5{
                    color: $text-color-secondary;
                    font-size: 16px;
                    font-weight: 400;
                    @extend .ff-garamond-premr-pro;
                    text-transform: uppercase;
                    background-color: $color-1;
                    padding: 8px 0;
                    text-align: center;
                    margin-bottom: 10px;
                }
                div{
                    padding: 0 10px 10px;
                    p{
                        color: $white-color;
                        font-weight: 400;
                        margin-bottom: 0;
                        font-size: 14px;
                    }
                }
            }
        }
        &__img{
            padding-left: 30px;

        }
        &__zoom{
            width: 65px;
            height: 65px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #003d47;
            bottom: 2px;
            right: 15px;
            cursor: pointer;
            opacity: 0.75;
            img{
                width: 28px;
                transition: transform .2s ease-in-out;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
        }
    }

    &-8{
        background: url('../images/bg-3.png');
        &__content{
            margin-top: -140px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            &-header{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 70px;
            }
            h4{
                position: relative;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 400;
                color: $primary-color;
                @extend .ff-garamond-premr-pro;
            }
            P{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 10px;
            }
        }
        &__img{
            padding: 0 8%;
            margin-top: 30px;
            img{
                width: 100%;
            }
        }
        &__info{
            margin-top: 30px;
        }
        .nav{
            justify-content: space-between;
            &-link{
                border: 1px solid $color-1;
                font-size: 21px;
                font-weight: 400;
                color: $color-1;
                border-radius: 0;
                @extend .ff-garamond-premr-pro;
                padding: 3px;
                flex: 0 0 30%;
                text-align: center;
                // margin-right: 24px;
                background-color: transparent  !important;
                margin-bottom: 12px;
                span{
                    display: block;
                    padding: 14px 10px;
                    text-transform: uppercase;
                }
                &.active, &:hover{
                    color: $text-color-secondary;
                    span{
                        background-color: $color-1;
                    }
                }
                &:nth-child(2){
                    border: 1px solid $color-2;
                    color: $color-2;
                    &.active, &:hover{
                        color: $text-color-secondary;
                        span{
                            background-color: $color-2;
                        }
                    }
                }
                &:nth-child(3){
                    border: 1px solid $color-3;
                    color: $color-3;
                    &.active, &:hover{
                        color: $text-color-secondary;
                        span{
                            background-color: $color-3;
                        }
                    }
                }
                &:nth-child(4){
                    border: 1px solid $color-4;
                    color: $color-4;
                    &.active, &:hover{
                        color: $text-color-secondary;
                        span{
                            background-color:$color-4;
                        }
                    }
                }
                &:nth-child(5){
                    border: 1px solid$color-5;
                    color: $color-5;
                    &.active, &:hover{
                        color: $text-color-secondary;
                        span{
                            background-color: $color-5;
                        }
                    }
                }
                &:nth-child(6){
                    border: 1px solid $color-6;
                    color: $color-6;
                    &.active, &:hover{
                        color: $text-color-secondary;
                        span{
                            background-color:$color-6;
                        }
                    }
                }
            }
        }
    }

    &-contact{
        background: url('../images/bg-contact.png') 50% 0 no-repeat fixed;
        color: $text-color-secondary;
        .content-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 100%;
            justify-content: space-around;
        }
        &__logo{
            margin-bottom: 70px;
            img{
                width: 240px;
            }
        }
        &__info{
            margin-bottom: 50px;
            h4{
                font-size: 33px;
                font-weight: 400;
                text-transform: uppercase;
                @extend .ff-garamond-premr-pro;
                margin-bottom: 24px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 8px;
            }
        }
        &__form{
            max-width: 680px;
            width: 680px;
            .row{
                >div{
                    display: flex;
                    align-items: center;
                    border-top: 1px solid #003d47;
                    border-bottom: 1px solid #003d47;
                    padding: 8px 0;
                    margin-bottom: 20px;
                    flex: 1;
                    &:nth-child(2n){
                        margin-left: 30px;
                    }
                }
                label{
                    white-space: nowrap;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: -5px;
                }
                input{
                    background: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }
            button{
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                background-color: transparent;
                border: none;
                outline: none;
                box-shadow: none;
                margin-top: 30px;
                color: $text-color-secondary;
                transition: all .3s ease-in-out;
                &:hover, &:focus{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
                &:hover{
                    background-image: linear-gradient(45deg,$primary-color 0,$text-color-secondary 100%);
                    margin-left: 15px;
                    color: #fff;
                    padding: 10px 15px;
                }
                svg{
                    margin-left: 10px;
                    font-size: 20px;
                }
            }
        }
        &__footer{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 400;
        }
    }


    &--first{
        .header{
            display: none !important;
        }
    }

    &--last{
        .header{
            &__logo{
                opacity: 0;
            }
            &__hotline{
                &-1{
                    background-image: linear-gradient(135deg, #003d4766, #003d47, #edc97d);
                    border-color: $text-color-secondary;;
                    box-shadow: 0 0 0 2px $primary-color inset;
                    svg{
                        color: $primary-color;
                    }
                }
                color: $text-color-secondary;
            }
        }
        .navbar{
            &-toggler {
                span{
                    color: $text-color-secondary;
                }
                &__img-1{
                    display: none;
                }
                &__img-2{
                    display: block;
                }
            }
            &__box a{
                color: $text-color-secondary;
                &:after{
                    background-color: $text-color-secondary !important;
                }
                &.active, &:hover{
                    color: $text-color-secondary;
                    font-weight: 700;
                }
            }
            &__icon{
                &-1{
                    display: none;
                }
                &-2{
                    display: block;
                }
            }
        }
    }


    .call-now-button{
        z-index: 9999;
        clear: both;
        margin: 0 auto;
        position: fixed;
        border-radius: 50px;
        background: $primary-color;
        bottom: 5%;
        left: 3%;
        div{
            display: flex;
        }
        .call-text{
            color: #fff;
            display: table;
            padding: 10px;
            border-radius: 21px;
            height: 34px;
            line-height: 14px;
            font-size: 14px;
            margin: 8px 5px 8px 50px;
            text-transform: uppercase;
            font-weight: normal;
            text-align: center;
            text-decoration: none!important;
        }
        a{
            color: #334862;
            text-decoration: none;
        }
        .quick-alo-ph-circle{
            &.active{
                width: 130px;
                height: 130px;
                top: -40px;
                left: -40px;
                position: absolute;
                background-color: transparent;
                border-radius: 100%;
                border: 2px solid rgba(30,30,30,.4);
                opacity: 1;
                animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
                transition: all .5s;
                transform-origin: 50% 50%;
            }
            &-fill {
                &.active{
                    width: 80px;
                    height: 80px;
                    top: -15px;
                    left: -15px;
                    position: absolute;
                    background-color: #000;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    border: 2px solid transparent;
                    opacity: 1;
                    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
                    transition: all .5s;
                    transform-origin: 50% 50%;
                }
            }
        }
        .quick-alo-phone-img-circle.shake{
            width: 50px;
            height: 50px;
            top: 0;
            left: 0;
            position: absolute;
            border-radius: 100%;
            border: 2px solid transparent;
            opacity: 1;
            background: url(../images/button-phone.png) no-repeat center center;
            animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
            transform-origin: 50% 50%;
            background-color: #0c3;
        }
    }
    .scroll-to-top{
        position:fixed;
        z-index:999;
        bottom:30px;
        right:20px;
        color:#fff;
        color: yellow;
        display: none;
        cursor: pointer;
        transition: transform .2s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
        svg{
            font-size: 34px;
            color: #fff;
            background: #007bff;
            border-radius: 100%;
        }
        &.is-visible{
            display: block;
        }
    }
}

@keyframes quick-alo-circle-img-anim{
    10%{transform:rotate(0) scale(1) skew(1deg)}
    10%{transform:rotate(-25deg) scale(1) skew(1deg)}
    20%{transform:rotate(25deg) scale(1) skew(1deg)}
    30%{transform:rotate(-25deg) scale(1) skew(1deg)}
    40%{transform:rotate(25deg) scale(1) skew(1deg)}
    50%{transform:rotate(0) scale(1) skew(1deg)}
    100%{transform:rotate(0) scale(1) skew(1deg)}
}

@keyframes quick-alo-circle-anim{
    0%{
        transform:rotate(0) scale(.5) skew(1deg);
        opacity:.1;
    }
    30%{
        transform:rotate(0) scale(.7) skew(1deg);
        opacity:.5;
    }
    100%{
        transform:rotate(0) scale(1) skew(1deg);
        opacity:.6;
    }
}

@keyframes quick-alo-circle-fill-anim{
    0%{transform:rotate(0) scale(.7) skew(1deg);opacity:.2}
    50%{transform:rotate(0) scale(1) skew(1deg);opacity:.2}
    100%{transform:rotate(0) scale(.7) skew(1deg);opacity:.2}
}

@keyframes BorderBox{
    0%,
    100%{background-position:0 0}
    50%{background-position:100% 100%}
}

@keyframes Ani{
    0%{
        box-shadow:0 0 0 rgba(220,220,220,0);
        border:1px solid rgba(220,220,220,0);
        transform:scale(0)
    }
    70%{
        box-shadow:0 0 50px rgba(220,220,220,1);
        border:1px solid rgba(220,220,220,1);
        transform:scale(1)
    }
    100%{
        box-shadow:0 0 60px rgba(220,220,220,0);
        border:0 solid rgba(220,220,220,0);
        transform:scale(2)
    }
}