.s-premium{
    /*Nav style*/
    .fixed-top{
        right: unset;
        bottom: 0;
        position: fixed !important;
    }
    .navbar{
        padding: 60px 40px;
        .collapse{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            z-index: 1000;
            background-color: $background-color;
            background-image: url('../images/logo-nen.png');
            background-repeat: no-repeat;
            background-position: 50%;
            padding-top: 110px;
            justify-content: center;
            align-items: flex-start;
            &.show{
                display: flex;
            }
        }
        .nav{
            &-link {
                position: relative;
                color: $primary-color;
                font-family: "Garamond-Premr-Pro";
                font-size: 33px;
                font-weight: 400;
                text-transform: uppercase;
                padding-bottom: 20px;
                &:hover, &.active{
                    color: $white-color;
                }
            }
        }
        &-nav{
            li:not(:last-child) {
                .nav-link {
                    margin-bottom: 20px;
                    &:after{
                        content: "";
                        position: absolute;
                        background-image: url('../images/icon-line-menu.svg');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                    }
                }
            }
        }
        &__close{
            position: absolute;
            right: 100px;
            top: 70px;
            background: transparent;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                color: $white-color;
                font-size: 34px;
            }
            span{
                font-size: 12px;
                font-weight: 400;
                color: $white-color;
                text-transform: uppercase;
                margin-left: 3px;
            }
        }
        &-toggler{
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            img{
                width: 35px;
            }
            span{
                font-size: 12px;
                font-weight: 400;
                color: $white-color;
                text-transform: uppercase;
                margin-top: 10px;
            }
        }
        &__sidebar{
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1040;
            justify-content: space-between;
            height: 100%;
            align-items: center;
        }
        &__box{
            list-style: none;
            padding: 0;
            a{
                position: relative;
                font-size: 14px;
                font-weight: 400;
                color: $white-color;
                padding: 10px 7px 18px;
                &.active, &:hover{
                    color: $primary-color;
                    font-size: 15px;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
            li{
                &:not(:last-child){
                    margin-bottom: 30px;
                    a:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #f5f5f5;
                        transform: rotate(15deg);
                    }
                }
            }
        }
    }
    
    .section{
        position: relative;
        background-color: $background-color;
        background-size: cover;
        background-position: center; 
    }
    /*header style*/
    .header{
        width: 100%;
        top: 70px;
        left: 0;
        height: auto;
        z-index: 50;
        position: fixed;
        .container{
            display: flex;
            justify-content: space-between;
        }
        &__logo{
            img{
                width: 200px;
            }
        }
        &__hotline{
            display: flex;
            align-items: center;
            color: $white-color;
            text-decoration: none;
            img{
                width: 45px;
                margin-right: 20px;
            }
            p{
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 0px;
            }
            span{
                font-family: "Muli-Bold";
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

    .link-arrow{
        display: flex;
        justify-content: center;
        a{
            color: $white-color;
            position: relative;
            padding: 15px 30px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            &:before{
                content: "";
                position: absolute;
                background-color: $white-color;
                height: 1px;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
            }
            &:after{
                content: "";
                position: absolute;
                background-color: $white-color;
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        svg{
            font-size: 22px;
            margin-left: 10px;
        }
    }
    .section-title{
        color: $white-color;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-bottom: 34px;
        span{
            width: 35px;
            height: 1px;
            background-color: $white-color;
            margin: 0 15px;
        }
    }

    &-1{
        background: url('../images/bg-1.png') 50% 0 no-repeat fixed;
        h2{
            margin-top: 45px;
            margin-bottom: 35px;
            text-transform: uppercase;
            font-size: 48px;
        }
        h4{
            margin-bottom: 50px;
            text-transform: uppercase;
            font-size: 48px;
            color: $primary-color;
        }
        &__content{
            margin-top: -15%;
        }
    }

    &-2{
        background: url('../images/bg-2.png') 50% 0 no-repeat fixed;
        &__content{
            h4{
                position: relative;
                margin-bottom: 32px;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 400;
                line-height: 35.63px;
            }
            P{
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 40px;
            }
        }
        &__img{
            padding: 0;
        }
        &__content{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            padding-right: 0;
            img{
                max-height: 100%;
                margin-left: auto;
            }
        }
    }

    .call-now-button{
        z-index: 9999;
        clear: both;
        margin: 0 auto;
        position: fixed;
        border-radius: 50px;
        background: $primary-color;
        bottom: 5%;
        left: 3%;
        div{
            display: flex;
        }
        .call-text{
            color: #fff;
            display: table;
            padding: 10px;
            border-radius: 21px;
            height: 34px;
            line-height: 14px;
            font-size: 14px;
            margin: 8px 5px 8px 50px;
            text-transform: uppercase;
            font-weight: normal;
            text-align: center;
            text-decoration: none!important;
        }
        a{
            color: #334862;
            text-decoration: none;
        }
        .quick-alo-ph-circle{
            &.active{
                width: 130px;
                height: 130px;
                top: -40px;
                left: -40px;
                position: absolute;
                background-color: transparent;
                border-radius: 100%;
                border: 2px solid rgba(30,30,30,.4);
                opacity: 1;
                animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
                transition: all .5s;
                transform-origin: 50% 50%;
            }
            &-fill {
                &.active{
                    width: 80px;
                    height: 80px;
                    top: -15px;
                    left: -15px;
                    position: absolute;
                    background-color: #000;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    border: 2px solid transparent;
                    opacity: 1;
                    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
                    transition: all .5s;
                    transform-origin: 50% 50%;
                }
            }
        }
        .quick-alo-phone-img-circle.shake{
            width: 50px;
            height: 50px;
            top: 0;
            left: 0;
            position: absolute;
            border-radius: 100%;
            border: 2px solid transparent;
            opacity: 1;
            background: url(../images/button-phone.png) no-repeat center center;
            animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
            transform-origin: 50% 50%;
            background-color: #0c3;
        }
    }
    .scroll-to-top{
        position:fixed;
        z-index:999;
        bottom:30px;
        right:20px;
        color:#fff;
        color: yellow;
        display: none;
        cursor: pointer;
        transition: transform .2s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
        svg{
            font-size: 34px;
            color: #fff;
            background: #007bff;
            border-radius: 100%;
        }
        &.is-visible{
            display: block;
        }
    }
}

@keyframes quick-alo-circle-img-anim{
    10%{transform:rotate(0) scale(1) skew(1deg)}
    10%{transform:rotate(-25deg) scale(1) skew(1deg)}
    20%{transform:rotate(25deg) scale(1) skew(1deg)}
    30%{transform:rotate(-25deg) scale(1) skew(1deg)}
    40%{transform:rotate(25deg) scale(1) skew(1deg)}
    50%{transform:rotate(0) scale(1) skew(1deg)}
    100%{transform:rotate(0) scale(1) skew(1deg)}
}

@keyframes quick-alo-circle-anim{
    0%{
        transform:rotate(0) scale(.5) skew(1deg);
        opacity:.1;
    }
    30%{
        transform:rotate(0) scale(.7) skew(1deg);
        opacity:.5;
    }
    100%{
        transform:rotate(0) scale(1) skew(1deg);
        opacity:.6;
    }
}

@keyframes quick-alo-circle-fill-anim{
    0%{transform:rotate(0) scale(.7) skew(1deg);opacity:.2}
    50%{transform:rotate(0) scale(1) skew(1deg);opacity:.2}
    100%{transform:rotate(0) scale(.7) skew(1deg);opacity:.2}
}