@mixin arrow-slide($border-color: $primary-color, $bg-color: $text-color, $icon-color: $primary-color) {
    >div{
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 1px solid $border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bg-color;
        cursor: pointer;
        transition: transform .2s ease-in-out;
        &:hover{
            transform: scale(1.2);
            transition: transform .2s ease-in-out;
        }
        svg{
            color: $icon-color;
            font-size: 46px;
        }
    }
    .arrow--prev{
        margin-right: 12px;
    }
    .arrow--next{

    }
}