/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {
    .s-premium-2{
        &__info{
            &-item{
                margin: 0 32px;
                flex: 0 0 28%;
            }
        }
    }
}

@media only screen and (min-width: 1344px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {

}

@media only screen and (min-width: 1500px) {
    .s-premium{
        &-2{
            &__content{
                flex: 1.2;
            }
            &__img{
                padding-left: 3%;
            }
        }
        &-3{
            &__content{
                flex: 1.4;
            }
            &__img{
                padding-left: 5%;
            }
        }
    }
}

@media only screen and (max-width: 1366px) and (min-width: 1250px) {
    
}

@media only screen and (max-width: 1250px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1366px) {
   
}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 480px) {
    
}

@media only screen and (orientation: landscape) and (max-width: 1200px) {
   
}
@media screen and (orientation: landscape) and (max-width: 992px) {
   
}
@media screen and (orientation: landscape) and (max-width: 768px) {
    .landing-page{
        .navbar-brand img{
            max-width: 150px !important;
        }
        
    }
}
@media screen and (orientation: portrait) and (max-width: 768px) {
    
}