.white-color{
    color: $white-color;
}
.primary-color{
    color: $primary-color;
}
.text-color{
    color: $text-color;
}
.text-color-secondary{
    color: $text-color-secondary;
}

.ff-muli-regular{
    font-family: 'Muli-Regular';
}
.ff-muli-bold{
    font-family: 'Muli-Bold';
}
.ff-muli-extrabold{
    font-family: 'Muli-ExtraBold';
}
.ff-garamond-premr-pro{
    font-family: 'Garamond-Premr-Pro';
}